<%= form_with(model: @task, class: "flex w-full") do |form| %>
  <div class="w-full flex flex-wrap items-center">
    <%= form.text_field :description, placeholder: "Add new task", class: "flex-grow inline-block px-3 py-2 shadow rounded-md border border-gray-200 outline-none" %>
    <%= form.submit "Save", class: "btn py-2 ml-2 bg-denim-600 text-white hover:bg-denim-700" %>
  </div>
<% end %>
