<div class="flex justify-center">
	<div id="toast-simple" class="backdrop-blur-xl absolute hidden flex items-center max-w-xs p-4 space-x-4 text-white divide-x divide-gray-200 rounded-lg shadow space-x" role="alert">
			<div>
				<i class="" id="icon"></i>
			</div>
			<div class="pl-4 text-sm font-bold">
				<div id="message"></div>
			</div>
	</div>
</div>