<div class="flex justify-center">
 	<div data-controller="flash" id="toast-simple" class="<%= color if local_assigns[:color] %> backdrop-blur-xl flex items-center max-w-xs px-2 py-1 space-x-4 text-white divide-x divide-gray-200 rounded-full shadow space-x <%= classes if local_assigns[:classes] %>" role="alert">
			<div>
				<i class="<%= icon if local_assigns[:icon] %>" id="icon"></i>
			</div>	
	</div>
</div>