<div>
  <turbo-frame id="<%= dom_id @project %>">
    <%= render "form", task: @project %>
    <%= link_to "Nevermind", projects_path, class: "btn py-2 ml-2 bg-denim-800 hover:bg-denim-900 text-white flex justify-center" %>
  </turbo-frame>
</div>
